.show-btn:hover,
.show-btn:focus {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  color: #fff !important;
}

.show-btn:hover .anticon,
.show-btn:focus .anticon {
  color: #fff !important;
}
