#root {
  max-width: 1280px;
  margin: 0 auto;
}

.app-sider {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border-right: 1px solid #f0f0f0;
}

.app-main {
  margin-left: 200px; 
}

.global-logo-bar {
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.global-logo {
  height: 32px;
}

.sider-footer {
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.app-content {
  padding: 24px;
  height: calc(100vh - 64px); 
  overflow-y: auto;
  margin-top: 64px; 
}

.page-header {
  border-radius: 4px 4px 0 0;
  margin-bottom: 16px;
}

.page-header-top {
  display: flex;
  align-items: center;
  margin-block: 4px;
}

.page-header .ant-breadcrumb a {
  color: rgba(0, 0, 0, 0.65);
}

.page-body {
  border-radius: 8px 8px 0 0;
}

.page-body .ant-table {
  margin: 0 !important;
}

.page-body .ant-table-container {
  background: transparent;
}

.ant-pagination .ant-pagination-item {
  background-color: transparent;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #fff;
}